/////////////////// General

$content_padding_top: 24px;
$content-padding-bottom: 10px;
$header-height: 75px;
$footer-height: 125.5px;

body, body.view-profile {
  font-family: $f-sans-serif;
  color: #000;
  min-height: initial;
  background-color: #fff;
}

%btn-pl-default-base {
  border-radius: .25rem;
}

.btn {
  font-family: $f-sans-serif;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}

.btn, .global-header .nav-links .secondary .btn {
  border-radius: .25rem;
}

%t-title {
  font-family: $font-family-title;
}

h1, h2, h3, h1 span, h2 span, h3 span, .nav-item {
  font-family: $font-family-title;
}

// It is necessary to specify `:not(.courseware) >` in order to not affect the style
// of `#content.content-wrapper` inside the unit iframe in the MFE
:not(.courseware) > #content.content-wrapper {
  @include media-breakpoint-up(lg) {
    padding-top: $content-padding-top;
    padding-bottom: $content-padding-bottom;
    margin-top: $header-height;
  }
  min-height: calc(100vh - #{$header-height + $content-padding-top + $content-padding-bottom + $footer-height}); // sticky footer
}

////////////////// Fonts
@import "fonts";


/////////////////// Register/Sign in header
header.global-header {
  @include media-breakpoint-up(lg) {
    position: fixed;
    top: 0;
    z-index: 200; // necessary to keep the header on top of other elements
    overflow: visible;  // fix for Safari
  }
  //background-color: #4c61bf;
  box-shadow: none;
}

header.global-header .nav-links .secondary .user-image-frame {
  border-radius: 0;
}

header.global-header .nav-links .secondary .dropdown-user-menu {
  position: fixed;
}

/////////////////// Sign in form
.login-register-content {
  margin: 20px auto;
  padding: 4rem 0;

  h1 {
    font-size: 2em;
    color: #000;
  }
}
.login-register .form-field input {
  font-family: $f-sans-serif;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	padding: 1rem;
	border: 1px solid #000;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	text-rendering: optimizeLegibility;
}
.login-register .section-title {
  margin: 20px 0 18px;
}
.login-register .form-field {
    // Hide "Sign in with your company or school link"
    button.enterprise-login {
        display: none;
    }
}

/////////////////// Home page
.content-wrapper {
  margin: 0px auto 0 auto;
}
.home>header {
  background-color: #402781 !important;
  padding: 3rem 0;
}
.home header {
  box-shadow: none;
  background-color: #fff;
}

.home > header .title {
  box-shadow: none;
  margin: 0 auto !important;
  float: unset;
  background: #402781;
}

.home > header .outer-wrapper {
  padding: 2rem 0;
  background: #402781;
}

.home > header .title > .heading-group {
  width: 100%;
  text-align: center;
}
.home > header .title > .heading-group h1 {
  text-align: center;
  color: #fff;
  font-size: 3.5em;
  font-weight: 700;
  text-shadow: unset;
}

.home > header .title > .heading-group p {
  color: #fff;
  font-style: normal;
}

.animation-home-header-pop-up, .home > header .outer-wrapper {
  animation: none;
}

.highlighted-courses .courses, .find-courses .courses {
  padding-top: 0;
}

.home .courses-container .courses .courses-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .courses-listing-item {
    margin: 0 20px 30px 20px;
    // Fix right margin
    &:nth-child(4n), &:last-child {
      margin-right: 20px;
    }
  }
}

////////////////// User dashboard /dashboard
.dashboard .main-container {
  padding: initial;
}

////////////////// "View this course as staff/learner/..."
nav.wrapper-preview-menu {
    // It is necessary to specify `nav` in order to override the common higher priority rule
    @include media-breakpoint-up(lg) {
      margin-top: $header-height;
    }
}

////////////////// Course about page
/// 

.course-info header.course-profile {
  background: #fff;
  box-shadow: none;
  border-bottom: none;

  .intro-inner-wrapper {
    border: none;
    box-shadow: none;
  }
}

.course-info {
  font-family: $f-sans-serif !important;
  .container {
    padding-bottom: 0;
  }
  .details .inner-wrapper > section {
    margin-bottom: 0;
  }
  header.course-profile .intro-inner-wrapper .intro .main-cta {
    span.register {
      @extend %t-copy-base;
      padding: 10px 0;
    }
    strong {
      background-image: none;
      border-radius: 0;
      &:hover:not(:disabled) {
        background-image: none;
      }
    }
  }
}

.courses-container {
  .courses {
    .course {
      border: 1px solid #ececec;
      border-radius: 0.25rem;
      min-height: 450px;

      .course-image {
        .cover-image {
          height: 215px;

          .learn-more {
            top: 75px;
            left: calc(50% - 75px);
            font-weight: 500;
            width: auto;
            font-size: 14px;
          } 
        }
      }
      .course-info {
        .course-title {
          font-size: 20px;
          font-weight: 700;
        }
        .course-organization {
          padding: 17px 15px 2px 15px;
          color: #000;
          font-size: 18px;
        }
      }
    }
    .courses-listing {
      .courses-listing-item {
        max-height: 450px;
      }
    }
  }
}   

.courses-container .courses .course .course-image .cover-image::before {
  height: 215px;
}

/////////////////// Course search
.find-courses, .university-profile {
  background-color: #fff;
}

/////////////////// User profile
.view-profile .profile-self .wrapper-profile-field-account-privacy {
  margin-top: -$content-padding-top;
}
.view-profile .wrapper-profile {
  background-color: #fff;
}

.view-profile .wrapper-profile-section-container-one .wrapper-profile-section-one {
  border: solid $primary;
  border-width: 5px 1px 1px 1px;
}

// Account settings
.wrapper-account-settings .wrapper-header {
  height: 100px;
}
.wrapper-account-settings .wrapper-header .header-title {
  padding-top: 0;
}
.wrapper-account-settings .wrapper-header .account-nav button.active {
  border-bottom-color: $primary;
}

/////////////////// Footer
.acl-footer {
  box-shadow: none;
  padding: 25px 40px;
  background-color: #3b424a;
	color: #fff;

  footer {
    display: flex;
    flex-direction: column;
    clear: both;
    width: 100%;
    z-index: 2;

    .footer-inner {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;

      .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > ul.main-links {
          margin-bottom: 0.3rem;
          margin-left: 0;
          padding-left: 0;

          >li {
            padding: 0;
            margin-right: 40px;
            display: inline;
            padding: 8px;

            >a {
              white-space: nowrap;
              color: #fff;
              font-weight: 500;
            }
          }
        }
      }
      hr {
        border: 1px solid rgba($color: #ffffff, $alpha: .75);
        margin: 24px 0;
        clear: both;
        height: 0;
        box-sizing: content-box;
      }

      .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        div {
          >ul.social-links {
            display: flex;
            margin-top: 0.4rem;
            margin-bottom: 2rem;
            list-style: none;
            padding-left: 0;
            text-align: center;

            >li {
              padding: 0 16px;

              >a {
                font-size: 2em;
                color: #fff;
              }
            }
          }
          >p.copyright {
            margin: -2px 0 8px 0;
            font-size: 0.6875em;
          }
        }
      }
    }
  }
}

/////////////////// Responsivity

@media screen and (max-width: 1024px) {
  .acl-footer {
    padding: 24px 24px;
    footer {
      .footer-inner {
        .footer-top {
          > ul.main-links {
            display: flex;
            flex-wrap: wrap;

            >li {
              >a {
                white-space: normal;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .home > header .title > .heading-group h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 600px) {
  .acl-footer {
    footer {
      .footer-inner {
        .footer-top {
          > ul.main-links {
            display: block;
            >li {
              display: block;
            }
          }
        }
        .footer-bottom {
          flex-direction: column-reverse;

          div {
            margin: 1.5rem auto;
            order: 1;

            >ul.social-links {
              justify-content: center;
            }
            >p.copyright {
              text-align: center;
            }
          }
          .wrapper-logo {
            text-align: center;
            order: 2;
            margin: 2rem auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .home > header .title > .heading-group h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 980px) {
  .home .courses-container .courses .courses-listing .courses-listing-item {
    width: 33.33333333%;
  }
}

@media screen and (min-width: 992px) {
  :not(.courseware)>#content.content-wrapper {
    padding-top: 0;
    margin-top: 65px;
  }
  .global-header .nav-links .secondary a.sign-in-btn {
    font-weight: 500;
    font-size: 16px;
    padding: 10px 25px;
  }
  .global-header .nav-links .secondary a.register-btn {
    font-weight: 500;
    font-size: 16px;
    padding: 10px 25px;
  }
}

@media screen and (min-width: 768px) {
  .content-wrapper {
    padding: 0;
  }
}

